extends base

block content
    .user-view__content
        .user-view__form-container
            h2.heading-secondary.ma-bt-md Your account settings
            //- without Api
            //- form.form.form-user-data(action='/submit-user-data' method='POST' enctype='multipart/formdData')
            form.form.form-user-data
                .form__group
                    label.form__label(for='name') Name
                    input#name.form__input(type='text', value=`${user.name}`, required)
                .form__group.ma-bt    
                    label.form__label(for='name') Username
                    input#username.form__input(type='text', value=`${user.username}`, required)
                .form__group.ma-bt-md
                    label.form__label(for='email') Email address
                    input#email.form__input(type='email', value=`${user.email}`, required)
                if user.about
                    .form__group.ma-bt    
                        label.form__label(for='about') About
                        input#about.form__input(type='text', value=`${user.about}` maxLength=60)
                else
                    .form__group.ma-bt    
                        label.form__label(for='about') About
                        input#about.form__input(type='text', placeholder='write something about you (max 60 characters)')
                .form__group.form__photo-upload
                    img.form__user-photo(src=`/img/userProfile/${user.profileImage}`, alt='User photo')
                    input.form__upload(type='file',accept='image/*',id='photo',name='photo')
                    label(for='photo') Add profileImage
                    if user.profileImage!=='default.jpg'
                        button.remove-Profile#removeprofile Remove profile photo
                .form__group.right
                    button.btn.btn--small.btn--green(id='saveData') update profile
